* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* Main body styling*/
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
}

h1 {
    color: white;
    font-size: 1.5rem;
    order: 1;
}

.site-header__burger-menu {
    order: 2;
}

.site-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgb(22, 115, 146); */
    background-color: red;
    padding: 0.8rem;
    z-index: 10000;

}

#mobile-menu {
    cursor: pointer;
}


.nav {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: rgb(22, 115, 146);
    /*  transform: translateY(-110%); */
    transition: all .8s ease-in-out;
    transform: translateX(100%);

}

/*This class activate when click on meny icon*/
.nav-active {
    transform: translateX(0%);
    opacity: 1;
}

/* Serch option will disappear to show the menu */
.search-hide {
    display: none;
}

.navbar {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    flex-direction: column;

}

.navbar li {
    list-style: none;
    margin: 25px 0px;


}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.log {
    order: 0;
}



.site-header li a {
    text-align: center;
    text-decoration: none;
    padding: 8px 50px 8px 50px;
    /* padding: 0.5rem; */
    display: block;
    color: white;
    border: 1px solid #999;
    border-radius: 15px;
}


.navbar a:hover {
    background-color: rgb(30, 32, 27);

}

.product-search {
    position: fixed;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#search-box {
    border: 1px solid black;
    border-radius: 50px;
    padding: .75rem;
}

#search-button {
    border-radius: 20px;
    border: none;
    padding: .5rem;
    background-color: gray;
    transition: color 0.5s;
    font-family: sans-serif;
    color: #fff;
}


#search-button:hover {
    color: white;
    background-color: red;
    cursor: pointer;

}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    margin-top: 60px;
}

/* .product-container__item:hover {
    transform: rotate(90deg);
    transition: 2s;

} */

.product-container__item {
    padding-bottom: 2rem;
    transition: all .5s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

/* All pictures items in the body  */
.product-container__item img {
    background-color: #ccc;
    padding: 1rem;
    border: 1px outset #999;
    /* transition: all 1s; */
    height: 200px;
    width: 275px;
    object-fit: cover;
    /* margin: calc(10%/6); */
}

.product-container__item img:hover {
    background-color: gray;

    /* transform: translate(-10px, -10px); */
    /* box-shadow: 10px 10px #22222299; */
}

.product-container__item:hover {
    transform: scale(1.1, 1.1);
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    background-color: bisque;
}

p {
    text-align: center;
}

/* Responsive screen size For Desktop Site */
@media screen and (min-width: 700px) {
    .nav {
        position: static;
        display: flex;
        transform: translateX(0);
        order: 2;
        margin-right: 1rem;
    }

    .site-header li a {
        border: none;
        border-radius: 0;
        /* padding: 1rem; */
        padding: 0px 10px;
        /* display: block; */

    }


    .site-header {
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        flex-direction: row;

    }

    .logo {
        order: 0;
    }

    .site-header__burger-menu {
        display: none;
    }

    h1 {
        /* Float: right; why it does not work??? because display: flex; */
        /*  text-align: center; same reason */
        font-size: 3rem;
        order: 1;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;

    }

    .product-container__item {
        padding: 1rem;
    }

    .search-hide {
        display: block;
    }

    .product-search {
        margin-top: 50px;
    }


}